<!DOCTYPE html>
<html>
<head>
<title>Smartender | Welcome Page</title>
</head>
<body>
<h1 style="text-align: center;">Welcome to Smartender!&nbsp;</h1>
<p style="text-align: center;"><img src="http://i63.tinypic.com/adzqef.png" alt="Smartender" width="407" height="356" /></p>
<p style="text-align: center;">I'm Smartender #0. The first one ever made! Scan my QR code below to order.</p>
<p style="text-align: center;"><img src="http://i66.tinypic.com/rwtj5y.png" alt="QR" width="150" height="150" /></p>
</body>
</html>
